body {
  background: #223;
}

.card {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  margin-bottom: 10px;
}

.card .image {
  --size: 128px;

  width: var(--size);
  height: var(--size);
  border-radius: 10px;
  margin: 10px;
}
